.letterContainer {
  padding-right: 30px;
  padding-left: 30px;
  padding-bottom: 30px;
  margin-top: 2em;
  border: solid;
  display: flex;
  flex-direction: column;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.letterHead {
  font-size: 41px;
  text-transform: uppercase;
}

.letterBody {
  font-size: 28px;
}

.signature {
  font-family: 'Italianno', sans-serif;
  font-size: 48px;
  text-align: end !important;
}
