.profilePic {
  height: 250px;
  /* position: absolute; */
  margin-left: 20px;
  margin-top: -40px;
  border-radius: 25px;
  border: dashed 4px black;
}

.profilePic:hover {
  cursor: pointer;
}

.changeIcon {
  height: 30px;
  width: auto;
  /* position: absolute; */
}