.profilePic {
  height: 250px;
  border-radius: 25px;
  border: dashed 4px black;
  /* margin-left: 30px; */
  margin-top: 40px;
}

.profilePic:hover {
  cursor: pointer;
}

.changeIcon {
  height: 30px;
  width: auto;
  /* position: absolute; */
}

.changeBtn:hover {
  background-color: rgba(255, 255, 255, 0.16);
  /* border-radius: 50%; */
}