.letterContain {
  padding-right: 40px;
  padding-left: 40px;
  padding-bottom: 30px;
  margin-top: 2em;
  margin-bottom: 2em;
  border: solid;
  display: flex;
  position: relative;
  flex-direction: column;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
  background-color: #faebd7;
}

/* .bkgImg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
} */

.letterTop {
  font-size: 41px;
  text-transform: uppercase;
}

.letterMiddle {
  font-size: 28px;
}

.signature {
  font-family: 'Italianno', sans-serif;
  font-size: 48px;
  text-align: end !important;
}

@media (max-width: 600px) {
  .letterTop {
    font-size: 28px !important;
  }
}

@media (min-width: 601px) and (max-width: 900px) {
  .letterTop {
    font-size: 32px;
  }
}

@media (min-width: 901px) {
  .letterTop {
    font-size: 41px;
  }
}

@media (max-width: 600px) {
  .letterMiddle {
    font-size: 22px !important;
  }
}

@media (min-width: 601px) and (max-width: 900px) {
  .letterMiddle {
    font-size: 25px;
  }
}

@media (min-width: 901px) {
  .letterMiddle {
    font-size: 28px;
  }
}

.lineBreak {
  display: none;
}

.dividerLines {
  display: inline;
}

.dividerDots {
  display: none;
}

@media (max-width: 499px) {
  .lineBreak {
    display: inline;
    white-space: break-spaces;
    white-space: pre-wrap;
  }
  .dividerLines {
    display: none;
    white-space: break-spaces;
    white-space: pre-wrap;
  }
  .dividerDots {
    display: inline;
    white-space: break-spaces;
    white-space: pre-wrap;
  }
}

.inputForm {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-bottom: 2em;
}